<h1> Tech Freelancers </h1>

<h2> Encontre profissionais de tecnologia para seus projetos! </h2>

<%= link_to 'Publique um projeto', new_project_path %>


<h2> Encontre um projeto e faça sua proposta!</h2>

<% @projects.each do |projeto| %>
  <%= link_to projeto.title, project_path(projeto.id) %>
<% end %>

<div><% if @project.blank? %>
    Não há projetos disponiveis no momento.
<% end %></div>

<% if !signed_in?%>
  <div><%= link_to 'Candidate-se para um projeto!', new_freelancer_session_path %></div>
<% end %>

<% if scope = :freelancer %>
  <div><%= link_to 'Candidate-se para um projeto!', complete_profile_freelancers_path %></div>
<% end %>
