<% if @projects.empty? %>
  <h3> Ainda não tem projetos </h3>
  <h2> <%= link_to 'Publique um projeto', new_project_path%>
<% else %>
  <% @projects.each do |projeto| %>
    <h3><%= link_to projeto.title %></h3>
  <% end %>
<% end %>